body, button, label, input{
    font-family: 'Nunito';
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    vertical-align:bottom;
    margin: 1rem;
    padding: 0.5rem;
}

.container img{
    border-radius: 10px;
    position: relative;
}

.loginform{
    position: relative;
    justify-content: space-evenly;
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    border-radius: 10px;
}

.registerform{
    position:relative;
    justify-content: center;
    align-content: center;
    background-color: rgb(245,245,245);
    border-radius: 10px;
    margin: auto;
    padding: 1rem;
    width: 25rem;
    /*display: inline-block; /*Hace que el div sea del tamaño del contenido*/
}

.inputgroup{
    display: grid;
    position: relative;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.buttongroup{
    text-align: right;
}

button{
    background-color: rgb(216, 177, 255);
    color: white;
    width: auto;
    border: 1px solid rgb(216, 177, 255);;
    border-radius: 2px;
    padding: 0.2rem;
    transition: 0.3s;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    width: auto;
    border: 1px solid rgb(216, 177, 255);
    border-radius: 2px;
    padding: 0.2rem;
}

.hiddenclass{
    display: none;
    transition: 2s;
}

.showclass{
    display:block;
    transition: 2s;
}
