body{
    font-family: 'Nunito';
    font-size: 20px;
}

.navigationbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(216, 177, 255);
    position: relative;
}

.navigationbar li{
    float: left;
}

.navigationbar li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 14px 16px;
}

.navigationbar a:hover{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(211, 211, 255);
}

.container{
    display: flex;
    justify-content: space-evenly;
}